/* Coolors Exported Palette - coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */

/* RGB */
$color1: rgba(230, 57, 70, 1);
$color2: rgba(238, 250, 242, 1);
$color3: rgba(168, 218, 220, 1);
$color4: rgba(69, 123, 157, 1);
$color5: rgba(29, 53, 87, 1);

$primary: $color4;
$secondary: $color1;
$contrast: $color2;
$primary-darker: $color5;
$primary-lighter: $color3;
$white: rgb(255, 255, 255);
